{% extends "base.html" %}
{% block content %}
  <div class="large-12 columns">
    <h3>Sign up</h3>
    <form action="" method=post name="signup">
    {{form.hidden_tag()}}
    <div class="row">
      <div class="large-4 columns">
        <label>Username:</label>
        {{form.username()}}
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <label>Password:</label>
        {{form.password()}}
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <label>CVS store phone number (10 digits only):<br><em>Found on your Rx label. You don't need to enter this now.</em></label>
        {{form.store_num()}}
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        {{form.remember_me}} <label>Remember Me</label>
      </div>
    </div>
    <input type="submit" value="Sign up" class="simple button">
    </form>
  </div>

{% endblock %}